
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scroll-behavior: smooth;
}

.none{
    @apply hidden
}
/* .title{
    @apply text-green-800 text-2xl font-bold
} */
.main{
    @apply bg-darkgray font-poppins
}
.main.standar{
    @apply bg-darkgray 
}
.main .navigation.standar{
    background: rgba(255, 255, 255, 0.10);
}
.shape{
    @apply absolute  h-96 w-full max-w-sm top-0 left-2/4 
    desktop:max-w-2xl;
    transform: translateX(-50%);
    background: radial-gradient(107.83% 100.00% at 50.00% -0.00%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.00) 45.81%);
    
}

/* Navigation */
.navigation{
    @apply relative text-white px-8 py-4 flex justify-between items-center
    laptop:px-20 laptop:py-7
}
/* 
px-8 py-4
laptop:px-20 laptop:py-7
*/
.navigation__list{
    @apply flex flex-col w-full min-h-screen z-20
    justify-center left-0 gap-y-16 absolute top-0
    bg-darkgray
    laptop:relative laptop:flex-row laptop:min-h-min laptop:bg-transparent
    laptop:justify-end laptop:items-center laptop:gap-8
    ;
}
.navigation-logo{
    @apply 
    laptop:w-72
    desktop:h-9
}
.navigation__list.none{
    @apply hidden 
    laptop:flex
}
.navigation__list li{
    @apply flex justify-center
}
.navigation__link{
    @apply px-2 py-1
}

.navigation__link{
    @apply 
    hover:text-primary hover:underline    
    active:text-primary active:underline
}
/* End Navigation */
/* Components */

.btn{
    @apply text-base
}
.btn.btn-solid{
    @apply flex gap-x-2 border rounded-md px-3 py-2 h-fit
}
.btn.btn-ghost{
    @apply flex text-xs gap-x-2 rounded-md px-3 py-2 h-fit 
    laptop:pl-0 laptop:text-base
}
.card .btn-ghost{
    @apply text-primary text-base pl-0  items-center
}
.content--about .card .btn-ghost{
    @apply  bg-white text-darkgray w-fit self-start text-lg px-10 font-medium
}
.content--events .btn-solid{
    @apply bg-white text-darkgray w-fit self-center text-lg px-10 font-medium
}
.menu-icon{
    @apply relative flex flex-col justify-between max-h-4 z-30
    laptop:hidden;
    gap: 5px;
}

.menu-icon.active .bar-icon:nth-child(1){
   transform: rotate(-45deg) translateY(10px);
   transition: all .7s;
}
.menu-icon.active .bar-icon:nth-child(2){
    opacity: 0;
    transform: translateX(-2px);
    transition: all .7s;
   
 }
 .menu-icon.active .bar-icon:nth-child(3){
    transform: rotate(45deg) translateY(-10px);
    transition: all .7s;
 }
 .menu-icon .bar-icon{
    transition: all .7s ease-in-out;
 }


.bar-icon{
    @apply  w-6 bg-white;
    height: 2px;
}

/* End Components */

/* Section Banner */
.content--banner{
    @apply px-8 py-14 text-white  flex flex-col justify-center gap-8
    laptop:px-20 laptop:flex-row laptop:justify-start laptop:gap-16
    desktop:pt-14
    ;
}
.banner-text{
    @apply flex flex-col gap-2 items-center 
    laptop:justify-start laptop:pt-24 laptop:items-start laptop:gap-6 laptop:w-6/12
}
.tittle-banner{
    @apply max-w-full text-4xl text-center font-semibold leading-normal pb-4 
    laptop:text-left laptop:text-6xl
}
.tittle-banner span{
    @apply text-primary
}
.banner-text p{
    @apply text-center laptop:text-left 
    laptop:text-3xl
}
.banner-image{
   @apply flex justify-center desktop:w-6/12
}
.banner-image .img{
    @apply desktop:w-9/12 object-cover h-fit
    
}
/* End Section Banner */
/* Start Section Events */
.content--events{
    @apply  px-8 py-14 text-white  flex flex-col justify-center gap-12
    laptop:px-20 laptop:justify-start laptop:gap-16
    desktop:pt-14
    ;
}
.content .text--content{
    @apply text-center text-white
}
.content .text--content .title{
    @apply font-semibold text-2xl
}
.content .text--content p{
    @apply font-normal text-lg
}
.events--cards {
    @apply flex flex-col justify-center items-center gap-y-6  flex-wrap
    tablet:flex-row tablet:gap-x-12 tablet:items-start 
}
.card{
    @apply bg-black max-w-card rounded  text-white  
     ;
    box-shadow: 1px 1px 5px 0px #000;
    min-height: 500px;
}
.card__content{
    @apply flex flex-col px-6 py-8 gap-8
}
.card__content .card__header{
    @apply flex flex-col gap-6
}
.card__content .card__header .title{
    @apply text-2xl font-semibold text-center
}
.card__content .card__header .img{
    @apply object-cover
}
.card__body{
    @apply text-lg font-light  
}
.card__body .card__info{
    @apply text-center
}
.card__footer{
    @apply font-light flex flex-col gap-y-8 justify-start;
}
.card__footer .list {
    @apply text-lg flex flex-col gap-2 
}
.card__footer .list .list-item{
    @apply flex gap-2 items-center
}
/* End Section Events */
/* Section About */
.content--about{
    @apply  px-8 py-14 text-white  flex flex-col justify-center gap-12
    laptop:px-20 laptop:justify-start laptop:gap-16
    desktop:pt-14
    ;
}
.about--cards{
    @apply flex flex-col gap-y-16 items-center
    tablet:flex-row  tablet:w-full tablet:gap-x-24 tablet:justify-center
}
.content--about .card{
    @apply bg-transparent shadow-none 
    tablet:w-6/12 tablet:max-w-md
}
.content--about .card:nth-child(2) .card__content{
    @apply tablet:flex-col-reverse 
}
.content--about .card__content{
    @apply px-0  py-0
}
/* End Section About */
/* Footer */
.footer{
    @apply bg-secondary
}
.content--footer{
    @apply px-8 py-14 text-white  flex flex-col justify-center gap-8 items-center
    laptop:px-20 laptop:py-7 laptop:flex-row-reverse laptop:justify-end laptop:gap-16
    desktop:pt-14
}
.footer__links{
    @apply flex flex-col gap-12 
    laptop:flex-row laptop:w-9/12
    ;
}
.footer-about{ 
    @apply text-center flex flex-col gap-8
    laptop:w-6/12
}
.footer__links .title{
    @apply text-lg
     laptop:text-start
}
.footer-about--list{
    @apply underline text-sm flex flex-col gap-3
    laptop:items-start
}
/* .footer-about--list li{
    @apply leading-5;
} */
.footer__list-social{
    @apply flex flex-col gap-5 
    laptop:flex-row
}
.footer--item__social{
    @apply flex justify-center 
    laptop:items-center
}
.footer-encuentranos{
    @apply flex flex-col gap-8 laptop:w-6/12
}
.footer__logo{
    @apply flex flex-col gap-2 items-center w-fit
    laptop:flex-row 
}
.footer__logo p{
    @apply font-semibold text-base whitespace-nowrap 
    tablet:text-2xl	;
}
/* End footer */
